<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusnine.android.valentinesspecial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ValentinesSpecial"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".valentineweek.ValentineWeek" />
        <activity android:name=".valentineweek.RoseDay" />
        <activity android:name=".valentineweek.ProposeDay" />
        <activity android:name=".valentineweek.ChocolateDay" />
        <activity android:name=".valentineweek.TeddyDay" />
        <activity android:name=".valentineweek.PromiseDay" />
        <activity android:name=".valentineweek.HugDay" />
        <activity android:name=".valentineweek.KissDay" />
        <activity android:name=".valentineweek.ValentineDay" />
        <activity android:name=".ValentineMeter" />
        <activity android:name=".ChocolateDay.ChocolatedayPoems" />
        <activity android:name=".ChocolateDay.ChocolatePoemsDisplay" />
        <activity android:name=".ChocolateDay.ChocolateDayStatus" />
        <activity android:name=".ChocolateDay.ChocolateStatusDisplay" />
        <activity android:name=".ChocolateDay.ChocolateDayShayari" />
        <activity android:name=".ChocolateDay.ChocolateShayariDisplay" />
        <activity android:name=".ChocolateDay.ChocolateDayWishes" />
        <activity android:name=".ChocolateDay.ChocolateWishesDisplay" />
        <activity android:name=".TeddyDay.TeddyDayPoems" />
        <activity android:name=".TeddyDay.TeddyPoemsDisplay" />
        <activity android:name=".TeddyDay.TeddyDaySmsAndQuotes" />
        <activity android:name=".TeddyDay.TeddySmsDisplay" />
        <activity android:name=".TeddyDay.TeddyDayShayari" />
        <activity android:name=".TeddyDay.TeddyShayariDisplay" />
        <activity android:name=".TeddyDay.TeddyStatusDisplay" />
        <activity android:name=".TeddyDay.TeddyDayStatus" />
        <activity android:name=".TeddyDay.TeddyDayWishes" />
        <activity android:name=".TeddyDay.TeddyWishesDisplay" />
        <activity android:name=".ChocolateDay.ChocolateDaySmsAndQuotes"></activity>
        <activity android:name=".ChocolateDay.ChocolateSmsDisplay"></activity>
    </application>

</manifest>