<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusnine.android.valentinesspecial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ValentinesSpecial"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".valentineweek.ValentineWeek" />
        <activity android:name=".valentineweek.RoseDay" />
        <activity android:name=".valentineweek.ProposeDay" />
        <activity android:name=".valentineweek.ChocolateDay" />
        <activity android:name=".valentineweek.TeddyDay" />
        <activity android:name=".valentineweek.PromiseDay" />
        <activity android:name=".valentineweek.HugDay" />
        <activity android:name=".valentineweek.KissDay" />
        <activity android:name=".valentineweek.ValentineDay" />
        <activity
            android:name=".ValentineMeter"
            android:label="Love Meter" />
        <activity
            android:name=".ValentineSpecial.RoseDayShayari"
            android:label="Rose Day Shayari" />
        <activity
            android:name=".ValentineSpecial.RoseDayShayariQuotos"
            android:label="Rose Day Shayari" />
        <activity
            android:name=".ValentineSpecial.RoseDayStatus"
            android:label="Rose Day Status" />
        <activity
            android:name=".ValentineSpecial.RoseStatusQuotos"
            android:label="Rose Day Status" />
        <activity
            android:name=".ValentineSpecial.RoseDayWishes"
            android:label="Rose Day Wishesh" />
        <activity
            android:name=".ValentineSpecial.RoseDayWishesQuotos"
            android:label="Rose Day Wishesh" />
        <activity
            android:name=".ValentineSpecial.RoseDayPoem"
            android:label="Rose Day Poem" />
        <activity
            android:name=".ValentineSpecial.RosePoem"
            android:label="Rose Day Poem" />
        <activity android:name=".ProposeDay.ProposeDayStatus"
            android:label="Propose Day Status"></activity>

       <activity android:name=".ProposeDay.ProposeDayStatusQuotos"
           android:label="Propose Day Status"/>
    </application>

</manifest>